.header {
  width: 100%;
  height: 70px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.header-main {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
